body {
    width: 500px;
    height: 500px;
}

div {
    border: solid 1px black;
}

body > div {
    margin: 20px;
    padding: 5px;
}

div > div {
    margin: 5px;
    height: 76px;
}

#second {
    display: flex;
}

#second-first {
    flex: 4;
}

#second-second {
    flex: 1;
}

#third {
    display: flex;
    justify-content: space-between;
}

#third > div {
    width: 20%;
}
