<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Periodic Table - {{ element.name }}</title>
    <link rel="stylesheet" href="{% static 'periodic/site.css' %}">
  </head>
  <body>
    <h1 class="cpk" style="background-color: #{{ element.cpkHexColor }}">
      {{ element.name }}
      <small>{{ element.symbol }}</small>
    </h1>
    <ul>
      <li>Number: {{ element.atomicNumber }}</li>
      <li>Mass: {{ element.atomicMass }}</li>
      <li id="atomic-li">Atomic Radius: {{ element.atomicRadius }}</li>
      <li id="ionic-li">Ionic Radius: {{ element.ionRadius }}</li>
    </ul>

    <script src="//code.jquery.com/jquery-2.2.3.js"></script>
    <script src="{% static 'periodic/element.js' %}"></script>
  </body>
</html>
