<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Comments - Form</title>
    <link rel="stylesheet" href="{% static 'comments/style.css' %}">
  </head>
  <body>
    <h1>Post Comment</h1>
    <form action="{% url 'comment_form_submit' %}" method="post">
      {% csrf_token %}
      <p><label>Text: <textarea name="text"></textarea></label></p>
      <p><label>Author: <input type="text" name="author"></label></p>
      <p><input type="submit"></p>
    </form>
  </body>
</html>
