{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Comments - Submit</title>
        <link rel="stylesheet" href="{% static 'comments/style.css' %}">
    </head>
    <body>
        <h1>Submit a Comment</h1>
        
        <form action="{% url 'ack' %}" method="post">
            {% csrf_token %}
            <p>
                <label>Text: <input type="text" name="comment_text"></label>
            </p>
            <p>
                <label>Author: <input type="text" name="comment_author"></label>
            </p>
            <p>
                <input type="submit">
            </p>
        </form>
    </body>
</html>
