<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Highlight</title>
        <link rel="stylesheet" href="{% static 'highlight/site.css' %}">
    </head>
    <body>
        <section>
            <form id="source-form" action="{% url 'color' %}" method="post">
                <p><textarea name="source-str"></textarea></p>
                <p><input type="submit"></p>
            </form>
        </section>
        <section>
            <p class="error" id="error"></p>
            <span id="lang-name"></span>
            <div id="code"></div>
        </section>
    </body>
    <script src="https://code.jquery.com/jquery-2.2.3.js"></script>
    <script src="{% static 'highlight/ajax_csrf_setup.js' %}"></script>
    <script src="{% static 'highlight/site.js' %}"></script>
</html>
