# Pre-parsed Python
__pycache__

# Virtualenvs
venv

# PyCharm Temporary Files
.idea
.cache

# Django Default DB
db.sqlite3

# Django Staged Static Files
staticfiles

# Django User-uploaded Files
mediafiles

# macOS
.DS_Store
